{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="{% static 'css/main.3f6952e4.css' %}" rel="stylesheet"></head>
<style>
.btns{
  margin: 15px auto;
}
button{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 8px 30px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 25px;
}
button:hover{
  background-color: rgb(33, 173, 166);
}
</style>
<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/" title="">01 : Home</a></li>
          <li><a href="/Connections" title="">02 : My Connections</a></li>
          <li><a href="/About" title="">03 : About me</a></li>
          <li><a href="/search" title="">04 : Add More Connections</a></li>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">General Details</h1>
          </div>
          <center>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>About You</h3>
                  <form action="", method='POST'>
                    {% csrf_token %}
                    <label >First name:</label>
                    <input type="text" id="fname" name="First"><br><br>
                    <label >Last name:</label>
                    <input type="text" id="lname" name="Last"><br><br>
                    <label >Your Work:</label>
                    <input type="text" id="Work" name="work"><br><br>
                    <label >Your Excellence</label>
                    <input type="text" id="Excellence" name="Excellence"><br><br>
                    <label >More</label>
                    <input type="text" id="More" name="More"><br><br>
                    <div class="btns">
                        <button type="submit" id="sign-up">Save</button>
                        </div>  
                  </form>
                </div>
              </div>
            </div>
          </div></center>  
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>@ BussTalk | <a href="#" title="#">Created By </a>/</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 


--> <script type="text/javascript" src="{% static 'js/main.70a66962.js' %}"></script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script></body>

</html>